{% extends 'website/main.html'   %} <!----here we can inherit the main.html template---->
   




{% block content %}


 <!----------------------------------------------->


<!---------------------------------second navbar----------------------------->
<section id="s_nav">

  <!--<nav>---->
  <!---->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <!------>
  
   <!---- <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>----->
    <ul>
      <li>
       
        <a href="#">Rudraksh</a></li>
      <li><a href="#">Maha Rudraksh</a>
      <ul>
        <li><a href="#">A</a></li>
        <li><a href="#">B</a></li>
        <li><a href="#">C</a>
          <ul>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
          </ul>
        
        </li>
      </ul>
    </li>
    <li><a href="#">MALA</a></li>
    <li><a href="#">GEMSTONES</a></li>
    <li><a href="#">RUDRA</a></li>
    </ul>
  </div>
  
  </nav>

</div>
 </section>




<br>
<br>






 <!-----------------------------------banner-------------------------------->


 <div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="https://source.unsplash.com/1400x400/?rudraksha,spiritual" class="card-img-top" width="120" height="400" alt="...">
            <!----    <img src="https://source.unsplash.com/1400x400/?agriculture,farmer" class="d-block w-100" alt="...">---->
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td >ISO 9001:2015</td>
                            <td>Lab Certified Products</td>
                            <td>Great Testimonials</td>
                        </tr>
                    </table>
                  
                </div>
              </div>
              
        </div>


        <div class="col-md-3">
            <div class="row">
                <div class="card card-body" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x150/?divine,beads" class="card-img-top" width="70" height="200" alt="">
                 <!-------   <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>----->
                  </div>
            </div>
            <br>
            <div class="row">
                <div class="card card-body" style="width: 18rem;">
                    <img src="https://source.unsplash.com/500x150/?religion,god" class="card-img-top" width="70" height="200" alt="...">
                 <!-----  <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>  ---->
                  </div>

            </div>
        </div>

    </div>
 </div>
<!---------------------------- black partition----------------->
<section id="icons">
<div class="container-fluid">
  <div class="container">
  <!----  <div class="row">---->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
   <!----     <div class="col-md-3">
            
                
            <i class="fa-solid fa-thumbs-up"></i>
         <!----  <p>Lab Certified Products</p>
            <p>By Independent Labs</p>---->
        
   <!----     </div>
        

        <div class="col-md-3">
            <i class="fa-solid fa-cube"></i>
        </div>

        <div class="col-md-3">
          <div class="col d-flex align-items-start"></div>
            <i class="fa-solid fa-lock"></i>
        </div>---->


   <!-----     <div class="col-md-3"> ----> 
          <div class="col d-flex align-items-start">
          <!----  <i class="fa-solid fa-check" width="4px" height="4%"></i>----->
     <!-----     <div class="d-flex justify-content-center py-3">---->
            <svg class="bi text-muted flex-shrink-0 me-3"  width="1.95em" height="1.95em" ><i class="fa-solid fa-thumbs-up py-3"></i></svg>
            <div>
              <h4 class="fw-bold">Lab Certified Products</h4>
              <p class="text-muted">By Independent Labs</p>
           <!---- </div>---->
          </div>
          </div>
        
      
        

    <!-----    <div class="col-md-3">  ---->
          <div class="col d-flex align-items-start">
          <!----  <i class="fa-solid fa-check" width="4px" height="4%"></i>----->
          
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.95em" height="1.95em"><i class="fa-solid fa-cube py-3"></i></svg>
            <div>
              <h4 class="fw-bold">Customised Solution</h4>
              <p class="text-muted">As per your design</p>
            </div>
          
          </div>
        

        <!------<div class="col-md-3">---->  
          <div class="col d-flex align-items-start">
          <!----  <i class="fa-solid fa-check" width="4px" height="4%"></i>----->
          
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.95em" height="1.95em"><i class="fa-solid fa-lock py-3"></i></svg>
            <div>
              <h4 class="fw-bold">Secure Shopping</h4>
              <p class="text-muted">SSL website</p>
            </div>
          </div>
          
        

   <!------     <div class="col-md-3"> ----> 
          <div class="col d-flex align-items-start">
          <!----  <i class="fa-solid fa-check" width="4px" height="4%"></i>----->
          
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.95em" height="1.95em"><i class="fa-solid fa-check py-3"></i></svg>
            <div>
              <h4 class="fw-bold">ISO 9001:2015 Certified</h4>
              <p class="text-muted">High Quality standards</p>
            </div>
          
        
        </div>
    </div>
  </div>
</div>
</div>
</section>



<br>
<!-----------------------------------Why buy from us------------>
<br>
<section id="buy">
<div class="container-1">
 <!----<div class="d-flex justify-content-center py-3">---->
<h2 class="underline">Why buy from us?</h2>
<p class=" text text-muted"> Due to its benefits demand of Rudraksha, Gemstones, Shaligram etc have increased i
  Kaliyug and demand is more than availability. To meet the demand many Rudraksha are faked by different means.
    <a href="#">Learn more</a>
</p>
</div>

<div class="container">
  <div class="card">
    <div class="card-image">
     <a href="#" class="card-btn">Higher Rudraksha</a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <a href="#">GEMSTONES</a>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <a href="#">MALA</a>
    </div>
  </div>

</div>
</section>
<!---</div>---->
<br>
<!-------------------------------------------Products----------------------->


<section id="products">
  <div class="container-fluid py-5">
   <!----<div class="d-flex justify-content-center py-3">---->
  <h2 class="underline">Featured Products</h2>
  
  </p>
  
  
  <div class="container">
    <div class="card">
      <div class="card-image">
       <a href="#" class="card-btn">Higher Rudraksha</a>
      </div>
    </div>
  
    <div class="card">
      <div class="card-image">
        <a href="#">GEMSTONES</a>
      </div>
    </div>
  
    <div class="card">
      <div class="card-image">
        <a href="#">MALA</a>
      </div>
    </div>
  </div>
 
  <div class="d-flex justify-content-center py-4"> 
  <a href="{% url 'products' %}" class="btn btn-primary">SEE ALL PRODUCTS</a>
  </div>
  

  
  </div>
</div>
  </section>

<!----------------------------------blog-------------------------------->
<section id="blog">
<div class="container py-3">
  <h2 class="underline">From our Blog</h2>
   <div class="row">
    <div class="d-flex justify-content-center py-3"> 
  <div class="card" style="width: 25rem;">
    <img src="https://source.unsplash.com/500x150/?religion,god" class="card-img-top" alt="...">
    <div class="card-body">
      
      <h5 class="card-title">Maha Shivaratri 2022</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem omnis deserunt nobis odio dolores iste eius modi doloribus, blanditiis ea iusto ut placeat dolore, aliquid provident? Unde debitis ut officia.</p>
      <a href="#">Read More</a>
    </div>
  </div>
  
      
      <div class="card" style="width: 25rem;">
        <img src="https://source.unsplash.com/500x150/?religion,god" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Significance of Planet Jupiter</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ut blanditiis itaque id nesciunt iusto tenetur veniam aliquam facilis eveniet officia aut voluptates unde quo, esse voluptatum, est vitae explicabo.</p>
          <a href="#">Read More</a>
        </div>
      </div>

          <div class="card" style="width: 25rem;">
            <img src="https://source.unsplash.com/500x150/?religion,god" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Venus and Profession</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ut blanditiis itaque id nesciunt iusto tenetur veniam aliquam facilis eveniet officia aut voluptates unde quo, esse voluptatum, est vitae explicabo.</p>
          <a href="#">Read More</a>
            </div>
           </div>
</div>
  </div>
  

</section>
<!------------------------------------------------what people say about us----------------------------------------------->

<section id="people">

<div class="container-fluid py-4">
  <h2 class="underline">What People Say About US</h2>
  <div class="container">
  <div class="row">
     <div class="col-md-4">
       <div class="card">
         <div class="card-img">
           
         </div>
         <div class="card-body">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam accusantium maiores ut laboriosam est, corrupti saepe obcaecati, vitae, atque blanditiis commodi dolorem debitis? Error qui voluptatum quos asperiores est!
         </div>
       </div>
     </div>

     <div class="col-md-4">
      <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum optio beatae eum sit quibusdam nesciunt molestiae tempora nostrum, fuga eveniet vero sapiente id minus labore nulla repudiandae! Sint, suscipit neque!
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-img"></div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facere quam quia quas nostrum repellendus incidunt, tenetur ducimus ipsam aliquid non asperiores odit fugit, voluptates temporibus molestias, quis illum optio?
        </div>
      </div>
    </div>
 

  </div>
  </div>
</div>





</section>





{% endblock %}   --------->
<!---------->


