
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Rudraksh website</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
         
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

        <script src="https://kit.fontawesome.com/4efa4f0bdc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
   
    </head>
    <body>

        <section id="top-header">
            <div class="container">
             <ul>
                 <li>
                     <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
                 </li>
                 <li>
                    <a href="{% url 'about_us' %}"><i class="fa-solid fa-award"></i> About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}"><i class="fa-regular fa-envelope"></i> Contact</a>
                </li>
                <li>
                    <a href="">Indian Rupees</a>
                    <ul>
                        <li><a href="">A</a></li>
                        <li><a href="">B</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-truck"></i> Delivery</a>
                </li>
             </ul>
            </div>
            </section>
             
            
            <br>
            <br>
        <!-------------------------------------------->
        
        <section id="second_layer">
          
            <div class="container-fluid">
              <div class="container">
              <div class="row py-4">
            
            <div class="col-2">
              <p>hello</p>
            </div>
             
            <div class="col-6">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
            
            <div class="col-3 px-1">
             <a href="" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="fa-solid fa-circle-user"></i></a>
              <a href="{% url 'register' %}"><i class="fa-solid fa-circle-user"></i></a>
             <a href="{% url 'login' %}"> <i class="fa-solid fa-circle-user"></i></a>
            
             <a href="" data-bs-toggle="modal" data-bs-target="#signupModal"> <i class="fa-solid fa-circle-user"></i></a>
            </div>
            <div class="col-1">
             <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'cart' %}" class="btn btn-warning">Cart</a>
        </div>
    </div>
    </div>
            </div>
            </div>
            </section>
            <!-----------------------login modal-------->
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Returning Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3">
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <a href="#">Forgotten Password</a>
            
                  </div>
               <!----   <div class="modal-footer">----->
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                   
               <!----   </div>--->
                </div>
              </form>
              </div>
            </div>
               
            <!-----------------------------sign up modal----------->
            <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Your Personal Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3"  method="POST" action="">  <!-------->
                           {% csrf_token %}
                      <div class="col-md-6">
                        <label for="firstName" class="form-label">First Name</label>
                       <input type="firstname" class="form-control" id="inputFirstName">
                       
                      </div>
                      <div class="col-md-6">
                        <label for="lastName" class="form-label">Last Name</label>
                       <input type="lastname" class="form-control" id="inputLastName">
                      
                      </div>
            
                      <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                       <input type="email" class="form-control" id="inputEmail4">
                    
                      </div>
                      <div class="col-md-6">
                        <label for="telephone" class="form-label">Telephone</label>
                       <input type="telephone" class="form-control" id="inputTelephone">
                        
                      </div>
                      <div class="col-md-6">
                        <label for="password1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword4">
                        
                      </div>
                      <div class="col-md-6">
                        <label for="password2" class="form-label">Confirm Password</label>
                       <input type="password" class="form-control" id="inputPassword4">
                        {{form.password2}}
                      </div>
            
                      <div class="col-12">
                        <label for="input" class="form-label">Subscribe</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                      </div>
                
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Continue</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div>------->
            
            
            <!-----------------------------------Navbar--------------------------------------->
             
            <section id="nav-header">
                <nav class="navbar  navbar-expand-lg navbar-light bg-light">
                  <div class="container-fluid">
                   <!---- <a class="navbar-brand" href="#">Navbar</a>----->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                     <!-----   <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>------>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Rudraksh</a>
                          <ul>
                            <li><a href="#">1 Mukhi Rudraksh</a></li>
                          <li><a href="#">2 Mukhi Rudraksh</a></li>
                            <li><a href="#">3 Mukhi Rudraksh</a></li>
                              <li><a href="#">4 Mukhi Rudraksh</a></li>
                                <li><a href="#">5 Mukhi Rudraksh</a></li>
                                  <li><a href="#">6 Mukhi Rudraksh</a></li>
                                    <li><a href="#">7 Mukhi Rudraksh</a></li>
                                      <li><a href="#">8 Mukhi Rudraksh</a></li>
                                        <li><a href="#">9 Mukhi Rudraksh</a></li>
                                          <li><a href="#">10 Mukhi Rudraksh</a></li>
                                            <li><a href="">11 Mukhi Rudraksh</a></li>
                                            <li><a href="">12 Mukhi Rudraksh</a></li>
                                            </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Higher Rudraksha</a>
                            <ul>
                              <li><a href="">A</a></li>
                              <li><a href="">B</a></li>
                            </ul>
                        </li>
                
                        <li class="nav-item">
                          <a class="nav-link" href="#">MALA</a>
                          <ul>
                            <li><a href="#">1 Mukhi Rudraksh</a></li>
                          <li><a href="#">2 Mukhi Rudraksh</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">GEMSTONES</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">MISC SPIRITUAL</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">PUJA SERVICES</a>
                        </li>
                
                      <li class="nav-item">
                          <a class="nav-link" href="#">RARE ITEMS</a>
                        </li>
                
                      <li class="nav-item">
                          <a class="nav-link" href="#">ARTICLES</a>
                        </li>
                
                        <li class="nav-item">
                          <a class="nav-link" href="#">CONTACT</a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </nav>
            
              </section>
            
              <br>


        <div class="container">

       
        {% block content %}
         
        {% endblock %}
       

        </div>
            
       <!-----------------------------------------footer------------------------------>
       
       
       <!-------------------------------------------social media----------------------->
<div class="container">
    <div class="d-flex justify-content-center py-3" id="social_media"> 
    <ul>
      <li><a href=""></a><i class="fa-brands fa-facebook"></i></li>
      <li><a href=""></a><i class="fa-brands fa-twitter"></i></li>
      <li><a href=""></a><i class="fa-brands fa-youtube"></i></li>
    </ul>
   
  </div>
  </div>
  <!-------------------------------------footer---------------------->
  <section id="footer">
  <div class="container-fluid">
      <footer class="py-5">
        <div class="row">
          <div class="col-2">
            <h5>About Us</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Rudraksha</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Selecting Rudraksha</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rudraksha Genuineness</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rules To Wear</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rudraksha Comparison by Origin</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Gemstones</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Why Buy From Us</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <h5>Customer Service</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Site Map</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Payment Option</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
    
          <div class="col-2">
            <h5>My Account</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
    
          <div class="col-4 offset-1">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of whats new and exciting from us.</p>
              <div class="d-flex w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
    
        <div class="d-flex justify-content-between py-4 my-4 border-top">
          <p>© 2021 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </section>
  
  






        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>   
    </html>
        
        